<!doctype html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="./app.js"></script>
    <script src="./controller.js"></script>
    <link rel="stylesheet" href="./slider.css">
</head>

<body ng-controller="GTRController as gtr">
    <div class="container">
    <h1>GTR Image Slider</h1>
    <div class="buttons">
            <button ng-click="gtr.prev()">Previous</button>
            <button ng-click="gtr.next()">Next</button>
    </div>
    <div class="slides">
        <img src="{{gtr.photos[PrevSlideIndex].img}}"/> 
        <img src="{{gtr.photos[CurrentSlideIndex].img}}"/>
        <img src="{{gtr.photos[NextSlideIndex].img}}" />
        
    </div>
</div>
</body>
</html>